.table-column {
  -fx-alignment: CENTER;
}

.table-row-cell {
    -fx-background-color: #E0E0E0;
}

.table-cell {     
    -fx-border-color: #808080;  
    
}

.table-row-cell:odd {
    -fx-background-color: white;
}

.table-row-cell:selected {
    -fx-background-color: #606060;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view:row-selection .table-row-cell:filled:hover { 
    -fx-background-color: #A0A0A0;
}